# Python
__pycache__/
*.pyc

# Node
node_modules/

# Environment
.env
venv/

# Database
backend/database/events.db
backend/database/events.db-journal

# Logs
backend/logs/
logs/

# Audio
backend/audio_chunks/
audio_chunks/

# Build
frontend/build/

# OS Files
.DS_Store
